<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zresetuj hasło</title>
</head>
<body>
    <div style="font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;background:#fcfcfc;padding:1% 0">
        <table style="width:100%;max-width:700px;margin:15px auto;font-size:18px;border:solid 1px #e6e6e6;border-radius:12px;display:block;padding:2px 1%;text-decoration:none;background:white">
            <tbody>
                <tr>
                    <td style="padding:2%">
                        <p>
                            Cześć <%= username %>,
                        </p>

                        <p>
                            Otrzymaliśmy prośbę o zresetowanie Twojego hasła. Kliknij poniższy przycisk, aby utworzyć nowe hasło:
                        </p>

                        <p>
                            <a href="<%= reset_link %>" style="display:inline-block;font-size:14px;padding:10px 20px;background:#F5702C;color:white;text-decoration:none;border-radius:5px;">Zresetuj hasło</a>
                        </p>

                        <p>
                            Jeśli nie prosiłeś(-aś) o resetowanie hasła, zignoruj tę wiadomość. Twoje hasło pozostanie niezmienione.
                        </p>

                        <p>
                            Jeśli masz jakiekolwiek pytania lub potrzebujesz pomocy, skontaktuj się z nami pod adresem 
                            <a href="mailto:dotsenk20034@gmail.com" target="_blank">dotsenk20034@gmail.com</a>. Jesteśmy tutaj, aby pomóc!
                        </p>

                        <p>
                            Z poważaniem,
                            <br>
                            Zespół Our Community
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
